# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Hugo files
/resources/_gen/
/public/
/themes/

# Node.js dependencies
node_modules/

# Temporary files
*.tmp
*.swp
*.log
*~

# Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
